@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

/*ALL PAGES*/
body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.3;
}

.navbar {
    font-family: "Noto Serif", serif;
    padding: 1rem;
    /*margin-right: 2rem;*/
}

.navbar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*object-fit: cover; */
}

.navbar-brand {
    font-family: "Lora", serif;
    padding-right: 8px;
}

a {
    color: steelblue;
}

/*
a:visited {
    color: navy;
}
*/

a:hover {
    background-color: steelblue;
    text-decoration: none;
    color: white;
}

a:active {
    background-color: floralwhite;
    text-decoration: none;
    color: steelblue;
}

/*
a:focus {
    background-color: red;
    outline: none;
}
*/

.hero-title {
    font-family: "Noto Serif", serif;
    /*text-align:     */
    color: #0d0d0d;
    font-size: 64px;
    line-height: 64px;
    font-weight: 700;
}

.hero-subtitle {
    font-size: 36px;
    font-weight: 300;
}

/* PROJECTS ON INDEX PAGE */
.project {
    padding-top: 20px;
    padding-bottom: 50px;
    padding-left: 10px;
}

.project-season {
    padding-top: 10px;
    font-family: "Lato", sans-serif;
    color: #747474;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.project-name {
    font-family: "Noto Serif", serif;
    color: #0d0d0d;
    font-size: 32px;
    font-weight: 600;
}

.call-to-action, .copyright {
    padding: 8px;
}

.proj-img-container {
    text-align: center;
}

.proj-img-content {
    position: absolute;
    width: auto;
    height: 100%;
}

.proj-image-square {
    position: relative;
    width: 99%;
    background: linear-gradient(black, #dae0e6);
}

.proj-image-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

/* FOOTER */
.footer-icons {
    margin-top: 100px;
    margin-bottom: 50px;
}

.footer-copy {
    margin-top: 25px;
    margin-bottom: 100px;
    padding: 8px;
}

.icon {
    font-size: 45px;
    padding: 8px;
}
