@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,300italic,400italic");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

/* PROJ PAGE */
.background-banner {
  background-image: linear-gradient(to right bottom, #92C0E4, #40A8C7, #0283A4, #027FA6);
  width: 100%;
  height: 400px;
}

.fact-fact {
  margin-top: 0px;
  margin-bottom: 0px;
  /* font-family: Roboto, sans-serif; */
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
  color: #1a1b1f;
}

.proj-title {
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #0d0d0d;
  /* font-style: italic; */
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 20px;
}

.proj-subtitle {
  width: auto;
  margin-bottom: 50px;
  font-family: 'Abcdiatypesemi mono trial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
}

.proj-section-header {
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: Roboto, sans-serif;
  color: #0d0d0d;
  font-size: 32px;
  line-height: 32px;
  font-weight: 500;
}

.proj-sub-section-header {
  font-size: 24px;
}

.proj-section-content {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

/* HEADING & BANNER */
.banner {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.banner-title {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: Roboto, sans-serif;
  color: #0d0d0d;
  font-size: 64px;
  line-height: 64px;
  font-weight: 700;
}

.banner-subtitle {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 5px;
}

.banner-img-container {
  text-align: center;
}

.banner-img {
  height: 350px;
  margin-top: 50px;
}

/* PROJECTS */
.project {
  padding-top: 20px;
  padding-bottom: 50px;
  padding-left: 10px;
}

.job-title, .fact-title {
  padding-top: 10px;
  /* font-family: Roboto, sans-serif; */
  color: #747474;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.project-name {
  font-family: Roboto, sans-serif;
  color: #0d0d0d;
  font-size: 32px;
  font-weight: 600;
}

.project-description {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.read-more {
  padding-left: 0px;
  font-size: 16px;
}

.proj-img-container {
  text-align: center;
}

.proj-img-content {
  position: absolute;
  width: auto;
  height: 100%;
}

.proj-image-square {
  position: relative;
  width: 99%;
  background: linear-gradient(black, #DAE0E6);
}

.proj-image-square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* FOOTER */
.footer {
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.icon {
  font-size: 45px;
  margin-left: 5px;
  margin-right: 5px;
}
