{% extends "base.html" %} {% block content %}

<div class="row">
    <div class="col-12 col-lg-8 mx-auto">
        <div class="hero mb-5 mt-5">
            <h3 class="hero-title mb-3">About me</h3>
            <p>I research technical products to increase adoption, retention, and trust.</p>
            <p>I am a human-centered mixed-methods UX researcher who thrives in ambiguity.</p>
            <p>
                Stakeholders trust me because I provide clear, concise recommendations they can act on, not just a
                mountain of data.
            </p>
        </div>

        <h4 class="mt-5 mb-3">My research process</h4>

        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="p-3 h-100">
                    <h5 class="mb-2">Collaborative</h5>
                    <p>
                        I treat research as a team sport, building alignment with cross-functional partners from kickoff
                        to final share-out to ensure insights are co-owned and ready for action.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="p-3 h-100">
                    <h5 class="mb-2">Agile</h5>
                    <p>
                        In fast-moving environments, I prioritize learning through iteration to deliver timely,
                        good-enough-to-decide insights that empower teams to move forward with confidence.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="p-3 h-100">
                    <h5 class="mb-2">Impact-driven</h5>
                    <p>I measure the success of my work by its ultimate impact on the product and its users.</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
