{% extends "base.html" %} {% block content %}

<!-- Hero -->
<div class="row hero align-items-center mt-lg-5 mb-lg-5 mt-2 mb-2">
    <div class="col-sm-1 col-md-1"></div>
    <div class="col-sm-6 col-md-6 mb-4">
        <h2 class="hero-title">Researching technical products</h2>
        <h3 class="hero-subtitle">to increase adoption, retention, and trust</h3>
    </div>
    <div class="col-sm-4 col-md-4">
        <!--
        <p>
            Collaborative support for cross functional teams
            See my <a href="{{ url_for('about') }}">about page</a> for more details:
        </p>
        -->
        <ul>
            <li>5+ years of dedicated UX research experience</li>
            <li>3+ years building and scaling Research Operations from the ground up</li>
            <li>Deep expertise in developer tooling, databases, data visualizations, and beyond</li>
            <li>Former software engineer, experienced writing Python, R, SQL</li>
            <li>Shaping products that serve over 100 million developers</li>
        </ul>
    </div>
    <div class="col-sm-1 col-md-1"></div>
</div>

<!-- RATINGS -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <img
            src="{{ url_for('static', filename='images/greatschools/ratings-square.png') }}"
            alt="laptop at a website with school ratings, floating in light blue background."
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="project-season">Fall 2024</h6>
        <h3 class="project-name">K-12 School Ratings</h3>
        <p>
            1:1 user interviews designed to get quick and clean insights about what information is needed to understand
            school ratings and whether that information is understandable.
        </p>
        <p>📉 80% decrease in frequency of user misunderstandings.</p>
        <p>📈 16% year-over-year increase in clicks on school profiles.</p>
        <br />
        <a class="call-to-action" href="/ratings.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

<!-- PUSH PROTECTION -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <img
            src="{{ url_for('static', filename='images/github/push-protection.png') }}"
            alt="macbook with purple screen, placeholder image"
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="project-season">Summer 2022</h6>
        <h3 class="project-name">Helping Developers Prevent Leaks</h3>
        <p>
            Usability testing to assess whether a new tool is a guardrail (not a speed bump, not a prison wall) to
            prevent developers from inadvertantly leaking secrets like API keys or passwords in GitHub code
            repositories.
        </p>
        <p>📈 Improved comprehension of secret scannings' error messages by 40%</p>
        <p>📈 Increased task completion of resolving blocked code pushes by 25%</p>
        <br /><br />
        <a class="call-to-action" href="/prevent-leaks.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

<!-- CHATBOT -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <img
            src="{{ url_for('static', filename='images/greatschools/chatbot.png') }}"
            alt="cartoon image of a chatbot climbing out of a phone"
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="project-season">Spring 2025</h6>
        <h3 class="project-name">AI Chatbot for K-12 Parents</h3>
        <p>
            Evaluate the discoverability of an AI chatbot and usabilty of the flow and questions (types, phrasing,
            volume) in a Figma prototype.
        </p>
        <p>
            📈 Findings redirected roadmap priorities, avoiding redundant feature development and saving an estimated
            $200K.
        </p>
        <p>📈 Task completion increased by 30 percentage points.</p>
        <br /><br />
        <a class="call-to-action" href="/chatbot.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

{% endblock %}
