{% extends "base.html" %} {% block content %}

<!-- Banner -->
<div class="row landing-header">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-8">
        <h2 class="banner-title">Hi, I'm Naomi</h2>
        <div class="banner-text">
            <p>
                I’ve been a mixed-methods UX Researcher for 5+ years. As a former software engineer, I'm very
                comfortable working with data analysts or analyzing data myself using R, SQL, Python. My
                <a href="{{ url_for('about') }}">about page</a> has more details.
            </p>
        </div>
        <div class="col-sm-0 col-md-2"></div>
    </div>
</div>

<!-- RATINGS -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <!--        <img src="../images/greatschools/ratings-square.png"-->
        <img
            src="{{ url_for('static', filename='images/greatschools/ratings-square.png') }}"
            alt="laptop at a website with school ratings, floating in light blue background."
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="job-title">Fall 2024</h6>
        <h3 class="project-name">K-12 School Ratings</h3>
        <p class="project-description">
            1:1 user interviews designed to get quick and clean insights about what information is needed to understand
            school ratings and whether that information is understandable.
        </p>
        <p>📉 80% decrease in frequency of user misunderstandings.</p>
        <p>📈 16% year-over-year increase in clicks on school profiles.</p>
        <br />
        <a class="read-more" href="/ratings.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

<!-- PUSH PROTECTION -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <img
            src="{{ url_for('static', filename='images/github/push-protection.png') }}"
            alt="macbook with purple screen, placeholder image"
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="job-title">Summer 2022</h6>
        <h3 class="project-name">Helping Developers Prevent Leaks</h3>
        <p class="project-description">
            Usability testing to assess whether a new tool is a guardrail (not a speed bump, not a prison wall) to
            prevent developers from inadvertantly leaking secrets like API keys or passwords in GitHub code
            repositories.
        </p>
        <p>📈 Improved comprehension of secret scannings' error messages by 40%</p>
        <p>📈 Increased task completion of resolving blocked code pushes by 25%</p>
        <br /><br />
        <a class="read-more" href="/prevent-leaks.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

<!-- CHATBOT -->
<div class="row project align-items-center">
    <div class="col-sm-0 col-md-2"></div>
    <div class="col-sm-12 col-md-3 proj-img-container">
        <!--        <img src="../images/greatschools/ratings-square.png"-->
        <img
            src="{{ url_for('static', filename='images/greatschools/chatbot.png') }}"
            alt="cartoon image of a chatbot climbing out of a phone"
            class="img-fluid proj-img" />
    </div>
    <div class="col-sm-12 col-md-5">
        <h6 class="job-title">Spring 2025</h6>
        <h3 class="project-name">AI Chatbot for K-12 Parents</h3>
        <p class="project-description">
            Evaluate the discoverability of an AI chatbot and usabilty of the flow and questions (types, phrasing,
            volume) in a Figma prototype.
        </p>
        <p>
            📈 Findings redirected roadmap priorities, avoiding redundant feature development and saving an estimated
            $200K.
        </p>
        <p>📈 Task completion increased by 30 percentage points.</p>
        <br /><br />
        <a class="read-more" href="/chatbot.html">Read PDF →</a>
    </div>
    <div class="col-sm-0 col-md-2"></div>
</div>

{% endblock %}
