{% extends "base.html" %}

{% block content %}

<!--BANNER IMAGE-->
<div class="row">
    <div class="banner-full-img-container">
        <img class="img-fluid" src="{{ url_for('static', filename='images/templates/rectangle.png') }}">
    </div>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <!-- CONTENT-->
        <h2 class="proj-title">Clarifying School Ratings</h2>
        <p class="proj-subtitle">
            <b>Problem statement</b>
            Each year, over two million parents in the US use ratings on GreatSchools.org to evaluate K-12 school
            quality - if they misinterpret ratings, they may pick a school they regret. To build users trust, school
            ratings must be easily understandable.
        </p>
        <div class="proj-section-header">Overview</div>
        <div class="proj-section-content">
            <ol>
                <li><b>Advocating for research</b> During previous research I saw
                    parents misinterpret school ratings. I persuaded stakeholders we should do further research, and
                    recommended prioritized research questions.
                <li><b>Research and impact</b> Create a multi-phase research plan, make recommendations to stakeholders, and launch the product.
                </li>
                <li><b>Reflections</b> What I do differently going forward.
                </li>
            </ol>
            <p></p>
        </div>
        <div class="proj-section-header">Advocating for research</div>
        <div class="proj-section-content">
            <p>During prior user interviews I learned our company was unaware of problems with our school ratings. I
                gathered these findings and triangulated data from support tickets from our Customer Service team. Using
                these known usability pain points, I persuaded the design team we should do further research in order to
                improve the long-term user experience and customer satisfaction. In order to persuade the product team,
                I focused on the short-term benefits of being able to make design changes (like progressive disclosure)
                that could increase user interaction and ad revenue.</p>
            <p>Referencing referenced foundational research artifacts I had previously created (like personas, journey
                maps, jobs-to-be-done) I determined my key research questions.</p>
            <ol>
                <li>Do users understand that an overall score is calculated using only some of the data on a school's
                    profile?
                </li>
                <li>Do users correctly interpret the information we share?</li>
                <li>What follow-up questions do users have about school ratings?</li>
                <li>Is this new prototype usable?</li>
            </ol>
        </div>

        <div class="proj-section-header">Research and impact</div>
        <div class="proj-section-content">
            <p>Because we planned on making both content changes and design changes, I initially recommended multiple
                phases of research because I knew that if the content did not make sense, then participants would not
                want to use the prototype, let alone talk about the design! To run multiple phases of research in a
                short timeline, I scoped down from our three personas to only speaking with the two essential personas,
                and chose to only have 4-6 participants each phase.</p>
        </div>
        <div class="proj-section-subheader">Phase 1: Progressive disclosure exercise</div> <!-- (n=5)-->
        <div class="proj-section-content">
            <p>In order to understand what questions parents needed answered most urgently and how detailed they wanted
                each answer to be, I started by designing a progressive disclosure exercise. Participants would see
                basic information about the school (location, grades taught) and how the school was rated on four
                attributes, and then be invited to ask questions. They could ask their own, or choose from a list of
                ideas. After reading the answer, they provided feedback and asked follow-up questions.</p>
            <p>Impact: Because of these findings, the design team was able to create a prototype that shared a
                simplified
                summary for each rating so users could click into each rating if they wanted to hear more about the
                details.</p>
        </div>
        <div class="proj-section-subheader">Phase 2: Comparative prototype evaluation</div>
        <!--        (n=8)-->
        <div class="proj-section-content">
            <p>I tested two different prototypes, each with the new content. I documented what old pain points were
                persisting from the previous design, and flagged a new pain point.
            </p>
            <p>Impact: The designer drafted a potential
                solution for the pain point I identified, and we moved on to one final round of testing.</p>
        </div>
        <div class="proj-section-subheader">Phase 3: Usability test</div>
        <div class="proj-section-content">
            <p>In this phase, we explored whether two aspects of the prototype that we preferred, but would be
                heavier-lift to develop, were essential, or just nice-to-have. </p>
            <p>Impact: I recommended cutting one aesthetic
                design choice, and putting the second heavy-lift feature in the backlog. Users on the prototype without
                this feature did not find it to be a pain point, but having it was such a delighter for users that we
                decided that we would aim to release it in late 2025.</p>
        </div>
        <!--         (esp. on percentiles) (n=5)-->


        <div class="proj-section-header">Reflections</div>
        <div class="proj-section-content">
            <p>GreatSchools is best known for being a database of school profiles, and the key part of these features
                are the school ratings we calculate with our proprietary algorithms. Before starting this project, I
                wanted to get buy-in that we had the engineering hours to act based on research findings, but it was
                difficult to talk about that without colleages feeling concerned that I would ask them to make cascading
                changes: re-writing the algorithm could mean we'd need new blog articles, new marketing content, new
                social media campaigns. </p>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}
