{% extends "base.html" %}

{% block content %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <h2 class="proj-title">
            Resources for UXers
        </h2>
        <p class="proj-subtitle">
            I can't vouch for all of these resources, but I've used some of them, and have heard good things about the
            other ones. This list was last updated in January 2025.
        </p>
        <div class="proj-section-header">Platforms for portfolios</div>
        <div class="proj-section-content">
            <p>Sometimes I see UX portfolios built in slide decks (Microsoft PowerPoint, Google Slides, Figma, Canva,
                etc.) and occasionally see portfolios coded from scratch (e.g., HTML/CSS, JavaScript) and hosted on free
                platforms (e.g., GitHub pages, Netlify, PythonAnywhere). </p>
            <p>But most often I see portfolios built using these tools:</p>
            <ul>
                <li><a href="Webflow.com">Webflow.io</a></li>
                <li><a href="https://www.framer.com/">Framer.website</a></li>
                <li><a href="https://portfolio.adobe.com/">Adobe Portfolio</a></li>
                <li><a href="https://www.wix.com/studio">Wix Studio</a></li>
                <li><a href="https://uxfol.io/">uxfol.io</a></li>
                <li><a href="https://www.notion.com/">Notion.site</a></li>
            </ul>
        </div>
        <div class="proj-section-header">Education & work experience</div>
        <div class="proj-section-content">
            <p>You can learn about UX from a free bootcamp/online classes, paid ones, or while earning a graduate degree, but no matter which you persue, it will likely still be challenging to get your first job in UX. Because of this, I recommend you don't spend much money on your UX education. Strong graduate programs are amazing, but I'm not sure if they're worth taking out huge loans if you may struggle to get a job afterwards.</p>
            <p>One reason why it is so difficult to get your first UX job is because recruiters and hiring managers know that one of the hardest parts of UX is stakeholder management, and very few school or bootcamp projects have real stakeholders, let alone opportunities for you to create real business impact. One way to get that experience is by volunteering to do UX for a real organization!</p>
            <ul>
                <li><a href="https://www.catchafire.org/volunteer-explore/">Catch-a-Fire</a> Work pro-bono (unpaid) for
                    nonprofits to gain work experience that you can (usually?) showcase in your portfolio.
                </li>
                <li><a href="https://techfleet.org/">Tech Fleet</a> Join a group of other new-to-their-industry
                    professionals and gain work experience that you can (usually?) showcase in your portfolio.
                </li>
                <li><a href="https://www.uxrescue.org/">UX Rescue</a> This community was very active in 2020, but I haven't heard much about them since then.
                </li>
            </ul>
        </div>
        <div class="proj-section-header" id="salary-info">Salary information</div>
        <div class="proj-section-content">
            <p>Before signing a job offer, do your research about salaries! Here are some tools that may help:</p>
            <ul>
                <li><a href="https://www.researchsalary.joinlearners.com/the-united-states">UX Salary data in the US
                    from Learner's</a></li>
                <li><a href="https://www.levels.fyi">Levels.fyi</a></li>
                <li><a href="https://www.payscale.com/">Payscale</a></li>
                <li><a href="https://measuringu.com/salary-survey2022/">2022 salary data from MeasuringU</a></li>
                <li><a href="https://uxpa.org/wp-content/uploads/sites/9/2022/05/UXPA_SalarySurvey_2022.pdf">2022 salary
                    data from UXPA</a></li>
            </ul>

        </div>
        <div class="proj-section-header" id="communities">Communities</div>
        <div class="proj-section-content">
            <p>Spaces where you may hear about networking or learning events (ask for a discount code if you're a
                student, a career switcher, or unemployed) and occasional job listings.
            </p>
            <div class="proj-sub-section-header">on Slack</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://apiwhodesign.slack.com/">API Who Design</a></li>
                    <li><a href="https://www.designgigsforgood.org/slack">Design Gigs For Good</a></li>
                    <li><a href="https://www.uxmastery.slack.com">UX Mastery</a></li>
                    <li><a href="https://www.mixed-methods.org/">Mixed Methods</a></li>
                    <li><a href="https://designerhangout.co/request">Designer Hangout</a></li>
                    <li><a href="https://researchops.community/">Research Ops</a></li>
                    <li><a href="https://designertalk.slack.com/">Designer Talk</a></li>
                    <li><a href="https://practical-ux.slack.com/">Practical UX</a></li>
                    <li><a href="https://tech-fleet-workspace.slack.com/">Tech Fleet Workspace</a></li>
                    <li><a href="https://uxresearchstratmeetup.slack.com">UX Research Strategy Meetup</a></li>
                    <li><a href="https://rosenfeldmedia.slack.com">Rosenfeld Media</a></li>
                    <li><a href="https://hexagonux.slack.com">Hexagon UX</a></li>
                    <li><a href="https://ltuxseattle.slack.com">Ladies That UX - Seattle</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">on Facebook</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://www.facebook.com/groups/uxuidesignprojects">UX/UI Design Projects</a></li>
                    <li><a href="https://www.facebook.com/groups/TheUXSchool/">The UX School</a></li>
                    <li><a href="https://www.facebook.com/groups/uxrcollective/">User Research Collective</a>
                    </li>
                    <li><a href="https://www.facebook.com/groups/uxbeginner/">UX Beginner: Design
                        Community</a></li>
                    <li><a href="https://www.facebook.com/groups/404691612915081/">User Experience
                        Professionals Association - UXPA</a></li>
                    <li><a href="https://www.facebook.com/groups/378553219697416">UX Design World</a></li>
                    <li><a href="https://www.facebook.com/groups/160753414130590/">UX Researchers
                        Association</a></li>
                    <li><a href="https://www.facebook.com/groups/womenux">Women in UX</a></li>
                    <li><a href="https://www.facebook.com/groups/205756059526207">UI/UX designers</a></li>
                    <li><a href="https://www.facebook.com/groups/uxdesignercommunity">UX & UI Designer
                        Community</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">subreddits</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://www.reddit.com/r/UXResearch/">r/UXResearch/</a></li>
                    <li><a href="https://www.reddit.com/r/UserExperienceDesign/">r/UserExperienceDesign/</a>
                    </li>
                    <li><a href="https://www.reddit.com/r/userexperience/">r/userexperience/</a></li>
                    <li><a href="https://www.reddit.com/r/usability/">r/usability/</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">on Discord</div>
            <div class="proj-section-content">
                <p>Discord links usually expire after one week, so the easiest thing to do is search on Discord by the
                    name of the community. Some of these groups have landing pages with updated links, but several don't
                    update the links.</p>
                <ul>
                    <li>Design Buddies</li>
                    <li>IterateUX</li>
                    <li>GSIUXD aka Get Started in UX Design</li>
                    <li>DetaUX</li>
                    <li>Design Squad</li>
                    <li>UX Bonfire</li>
                    <li>Unofficial Figma Community</li>
                    <li>Design Squad:UX community</li>
                </ul>
            </div>
            <div class="proj-section-header" id="job-boards">Job boards</div>
            <div class="proj-sub-section-header">Well-known job boards</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://www.linkedin.com/jobs/">Linkedin Jobs</a></li>
                    <li><a href="https://www.indeed.com/">Indeed</a></li>
                    <li><a href="https://www.monster.com/jobs/">Monster</a></li>
                    <li><a href="https://www.upward.careers/results/">Upward Careers</a>
                    </li>
                    <li><a href="https://www.jobcase.com/">JobCase</a></li>
                    <li><a href="https://www.ziprecruiter.com/candidate/suggested-jobs">Zip Recruiter</a>
                    </li>
                    <li><a href="https://www.wayup.com/member/jobs-listing">Wayup</a>
                    </li>
                    <li><a href="https://www.randstadusa.com/job-seeker/">Randstad USA Jobs</a>
                    </li>
                    <li><a href="https://app.joinrise.co/feed">Joinrise</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">UX-only job boards</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://www.looppanel.com/find-ux-jobs">Looppanel</a>
                    </li>
                    <li><a href="https://www.uxjobsboard.com/#!search/">UX Job Board</a>
                    </li>
                </ul>
            </div>
            <div class="proj-sub-section-header">Students-only job boards</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://joinhandshake.com/">Handshake </a>Only internships and entry-level roles</li>
                    <li><a href="https://app.ripplematch.com/">Ripple Match </a>Again, only internships and entry-level
                        roles
                    </li>
                    <li><a href="https://student.interstride.com/login">Interstride </a>US based jobs for non-US
                        citizens and jobs for US citizens wanting to work abroad
                    </li>
                </ul>
            </div>
            <div class="proj-sub-section-header">Other specialized job boards</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://www.idealist.org/en/">Idealist </a>Non-profits
                        only
                    </li>
                    <li><a href="https://www.workatastartup.com/">Work At A Startup </a>startups backed by Y Combinator.
                    </li>
                    <li><a href="https://4dayweek.io/remote-jobs/ux-research">4-Day Week </a>Roles at companies that
                        only require a 4-day work week
                    </li>
                    <li><a href="https://himalayas.app/jobs/design">Himalayas </a>Only Remote UX Jobs
                    </li>
                    <li><a href="https://jobs.gaijinpot.com/index/index/lang/en">Gaijin Pot </a>Only jobs in Japan
                        (available in English)
                    </li>
                    <li><a href="https://jrecin.jst.go.jp/seek/SeekTop">J-Rec-In </a>Only jobs in Japan (available in
                        English)
                    </li>
                </ul>
            </div>
            <div class="proj-section-header" id="other-resources">Other resources</div>
            <div class="proj-sub-section-header">Collections of resources</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://uxrguild.com/resources/">UXR Guild's collection of resources</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">Blogs</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://dscout.com/people-nerds">DScout</a></li>
                    <li><a href="https://www.nngroup.com/">Nielsen Norman Group</a></li>
                </ul>
            </div>
            <div class="proj-sub-section-header">Random</div>
            <div class="proj-section-content">
                <ul>
                    <li><a href="https://stillhiring.today/">Still Hiring? </a>Check to see if a company is (or report
                        if your company is) <em>actually</em> hiring, or just posting job listings without hiring.
                    </li>
                    <li><a href="https://layoffs.fyi/">Layoffs.fyi </a>Information about tech layoffs (which companies,
                        when, how many people, etc.).
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}
